* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000000b9;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    
}




.nav {
    width: 6%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(61, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     padding-left: 0.6rem;
}

.nav:hover {
    width: 10%;
    transition: 0.5s ease-in-out;
}

.nav ul li {
    list-style: none;
    padding: 1rem 0;
}

.nav ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}

.hero-section {
    width: 100%;
    height: 100%;
}

.hero-top {
    display: flex;
    padding: 1rem;
    overflow-y: auto;
    background-color: #000000b9;
    color: white;
}

.left-section {
    width: 40%;
    height: 80%;
    /* background-color: rebeccapurple; */
    margin-left: 1rem;
}

.right-section {
    width: 60%;
    height: 100%;
}

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 8rem;
    /* background-color: green; */
}

.cards .card {
    padding: 1rem;
    width: 60%;
    margin: 10px;
    border: 2px solid rgb(147, 147, 147);
    border-radius: 10px;
}

.cards .card .details {
    display: flex;
    padding: 5px;
}


.hero-bottom .cards .card .home-card-img {
    width: 16rem;
    height: 11rem;
    border-radius: 10px;
}

.cards .card .home-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0px 1px 13px rgba(230, 230, 230, 0.6);
}

.right-section {
    padding: 1rem;
}

.right-section .card {
    box-shadow: 0px 1px 13px rgba(230, 230, 230, 0.6);
    border-radius: 10px;
    padding: 1rem;
}

    .right-section .card h2 {
        margin: 1rem 0;
    }

.right-section .card img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-section .hero-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    flex-wrap: wrap;
    background-color: #000000b9;
    color: white;
}

.hero-section .hero-bottom .cards .card {
    width: 30%;
}

.hero-section .hero-bottom .cards .card a {
    text-decoration: none;
    color: #fff;
}

/* Single Product- Page */

.single-product-details {
    width: 70vw;
    margin: 0 14rem;
    padding: 5rem 0;
}

.single-product-details .back {
    margin: 2rem 0;
    font-size: 20px;
    font-weight: 500;
}

.single-product-details a {
    text-decoration: none;
    color: #fff;
}

.single-product-details .card {
    display: flex;
}

.single-product-details .card img {
    width: 60%;
    border-radius: 8px;
}

.product-right-details {
    width: 35rem;
    margin: 0 2rem;
}

.product-right-details h2 {
    font-size: 25px;
}

.product-right-details p {
    margin: 1rem 0;
    font-size: 17px;
}

.product-right-details span {
    font-size: 23px;
    font-weight: 600;
}

.product-right-details .all-details {
    display: flex;
    justify-content: space-between;
}

.product-btns {
    display: flex;
    justify-content: space-between;
}

.product-btns .btn {
    padding: 10px 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 9px;
    background: #ff5d79;
    color: #fff;
    font-weight: 500;
}

.product-btns select {
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 10px 1rem;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid gray;
    background: transparent;
}

.review-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.review-section .review-left {
    padding: 2rem 0;
}

.review-section .review-left h3 {
    padding: 1rem;
}

.review-section .review-left p {
    padding: 1rem;
}

.review-section .review-right {
    display: flex;
    flex-direction: column;
}

.review-section .review-right select {
    border: none;
    padding: 0.5rem 0rem;
    border-radius: 8px;
    font-size: 1rem;
    width: 35rem;
}

.review-section .review-right label {
    font-weight: 500;
    margin: 1rem 0;
}

.review-section .review-right textarea {
    border-radius: 8px;
}

.review-right .btn {
    padding: 10px 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 9px;
    background: #ff5d79;
    color: #fff;
    font-weight: 500;
    width: 5rem;
    margin: 1rem 0;
}